<% if notice or alert %>
  <% if alert %>
    <div class="alert alert-danger" role="alert">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <%= alert %>
    </div>
  <% end %>
  <% if notice %>
    <div class="alert alert-success" role="alert">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <%= notice %>
    </div>
  <% end %>
<% end %>
