<% if notice or alert %>
<div class="alert alert-danger" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <%= alert %> <% if notice %>|<%= notice %> <% end %>
</div>
<% end %>
